.bg-img{
    
    background-image: url("https://d3nn873nee648n.cloudfront.net/900x600/19263/7-SM910604.jpg");
    background-size: cover;
    background-repeat: no-repeat;        
    background-position: 0 0, 30px 30px;
    width: 100%;
    height: 565px;
}