<div class="container-fluid my-2">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form class="d-flex">
                <input class="form-control  me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
              </form>

              <div class="card mt-5">
                  <div class="card-title text-center py-2">
                      <h3>Create Case</h3>
                  </div>
                  <div class="card-body">
                    <table class="table">
                        <tbody>
                          <tr>
                            <th scope="row">Applicant Id</th>
                            <td>Mark</td>
                          </tr>
                          <tr>
                            <th scope="row">Name</th>
                            <td>Jacob</td>
                          </tr>
                          <tr>
                            <th scope="row">Date of Birth</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr>
                          <tr>
                            <th scope="row">Gender</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr>
                          <tr>
                            <th scope="row">Aadhar No</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr>
                          <tr>
                            <th scope="row">Contact No</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr>
                          <tr>
                            <th scope="row">Email</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr>
                        </tbody>
                        
                      </table>
                  </div>
                  <div class="card-footer">
                    <button type="submit"
                    class="btn btn-primary">Submit</button>
                </div>
              </div>
        </div>
    </div>
</div>